.App{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);

}
.main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  }

  .glass {
    background: white;
    min-height: 10vh;
    width: 100%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }  
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  .dashboard {
    flex: 1;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    border: 5px solid black;
  }